<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KinG-QuiZ</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/img/estrella1.png" type="image/x-icon">
</head>
<body>
   
    <div class="container">
        <ul>
            <li><a href="#" class="jugar" id="history" name="history" value='1'><b>History</b></a></li>
            <li><a href="#" class="jugar" id="sport" name="sport" value='2'><b>Sports</b></a></li>
            <li><a href="#" class="jugar" id="enterteniment" name="enterteniment"><b>Enterteniment</b></a></li>
            <li><a href="#" class="jugar" id="science" name="science"><b>Science and Technology</b></a></li>
            <li><a href="#" class="jugar" id="art" name="shows"><b>Art</b></a></li>
            <li><a href="#" class="jugar" id="music" name="music"><b>Music and interpreters</b></a></li>
            <li><a href="#" class="jugar" id="all" name="all"><b>All Categotrys</b></a></li>
        </ul>
        <!-- playthegame -->
    </div>
</body>
<script src="selectCategory.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>
